<link rel="stylesheet" href="/css/pagos/debito.css">
<form action="/pagos/debito" method="post">

   <div id="pagos-debito-container">

      <div class="box">

            <h2>Tarjeta de Débito</h2>
            <input type="text" id="numero_tarjeta" name="numero_tarjeta"  placeholder="Ingresa numero de la tarjeta" required>
            <br>
<br>
           <input type="text" id="fecha_expiracion" name="fecha_expiracion"  placeholder="Ingrese la fecha de expiración" required>
            <br>
<br>
            <input type="text" id="cvv" name="cvv" placeholder="CVV" required>
            <br>
<br>
            <input type="text" id="nombre_titular" name="nombre_titular" placeholder="Ingrese el nombre del titular" required>
            <br>
<br>
            <input type="text" id="documento" name="documento" placeholder="Ingrese el documento" required>
            <br>
<br>
            <input type="text" id="numero_documento" name="numero_documento" placeholder="Ingrese el numero de documento" required>
            <br> 

         <div id="boton">
            <button type="submit" id="">Guardar</button>
         </div>
      </div>
</form>