body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.factura-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    padding-left: 200px;
}


.box {
    background-color: #f1f0f0;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}


.herramientasDiv {
    margin-left: 200px;
}

h1 {
    text-align: center;
    color: #333;
    grid-column: span 2;
}

.input-box {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #616060;
}

.calculos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
}

.calculos input:focus {
    background-color: white;
    color: black;
    outline: none;
}


#boton {
    display: flex;
    justify-content: center;
    grid-column: span 2;
}


button[type="submit"],
button[type="button"] {
    width: 45%;
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type="submit"] {
    background-color: #1F547E;
}


button[type="submit"]:hover {
    background-color: #0b75cc;
}


button[type="button"] {
    background-color: #9e0000;
}


button[type="button"]:hover {
    background-color: #d80101;
}

@media screen and (max-width: 600px) {
    .box {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


    #boton {
        grid-column: span 1;
    }
}

.herramientasDiv {
    background-color: #f1f0f0;
    width: 80%;
    padding: 20px;
    max-width: 125px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 1125px;
    margin-top: -400px;
}

th {
    border-bottom: 2px solid black;
}

button[type="add-row"] {
    background-color: #1F547E;
    color: white;
}

button[type="add-row"]:hover {
    background-color: #0b75cc;
}

button[type="remove-row"] {
    background-color: #1F547E;
    color: white;
}

button[type="remove-row"]:hover {
    background-color: #0b75cc;
}

.agregar {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}

.agregar2 {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}

.eliminar {
    top: 10px;
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000;
    margin: 10px;
}

.eliminar2 {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-left: solid 1px #000000;
    margin: 5px;
}

.agregart {
    border-radius: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 26px;
}

.removert {
    border-radius: 12px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.cuadroa {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.cuadroe {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}

.agr_fila {
    padding: 2px;
    text-align: center;
}

.elim_fila {
    padding: 2px;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: -5px;
}

hr {
    margin-top: -15px;
    border-width: 3px;
    border: solid 1px #000000;
}

.calculos {
    background-color: #f1f0f0;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
}

.cuadrosubtotal {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.subtotal {
    padding: 4px;
    display: inline-block;
    text-align: center;
}

.subtotal input {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.subtotal_texto {
    padding-top: 15px;
    padding-left: 45px;
}

.cuadroimpues_0 {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.cuadroimpues_12 {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.cuadro_dsct {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.cuadro_iva {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}

.cuadro_valor_total {
    border: solid 1px #000000;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
}
.cuadro_nom_cedu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.nom_cliente {
    border: solid 1px #000000;
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 6px;
    /* Añadimos un margen derecho para separar los elementos */
    margin-right: 10px;
}


.nom_cliente:last-child {
    /* Quitamos el margen derecho del último elemento */
    margin-right: 0;
}


.nom_cliente label {
    padding-top: 15px;
    padding-left: 10px;
    max-width: 50%;


}


.nom_cliente input {
    padding-top: 15px;
    max-width: 50%;
    background-color: white;
    border-radius: 10px;
}


img {
    width: 200px;
}

.form-group input {
    background: none;
    border: none;
}

.imagen_nombre {
    display: flex;
}

#nombre-tienda {
    height: 140px;
}

#tabla-contenedor {
    margin-left: 485px;
    margin-top: -160px;
}

.linea_nombre {
    width: 400px;
    margin-left: 0px;
}

#fila_cada_producto input{
width: 175px;
height: 30px;
}

.linea_cuentas {
    width: 780px;
}

#nombres {
    font-size: 20px;
    font-weight: bold;
    width: 450px;
    border: none;
}

#nombre-tienda {
    font-size: 16px;
    font-weight: bold;
}

#direccion-matriz {
    font-size: 16px;
    font-weight: bold;
}

#direccion-sucursal{
    font-size: 16px;
    font-weight: bold;
}

.calculos_formas_pago {
    display: flex;
}

.formas_pago {
    background-color: #f1f0f0;
    width: 130px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    margin-left: 60px;
    margin-top: 90px;
}

.titulo_pagos {
    border: solid 1px #000000;
    border-radius: 12px;
    margin-bottom: 6px;
}

.titulo_pagos p {
    text-align: center;
}

.efectivo {
    border: solid 1px #000000;
    border-radius: 12px;
    margin-bottom: 6px;
    text-align: center;
}

.tarjeta_cre {
    border: solid 1px #000000;
    border-radius: 12px;
    margin-bottom: 6px;
    text-align: center;
}

.tarjeta_deb {
    border: solid 1px #000000;
    border-radius: 13px;
    margin-bottom: 6px;
    text-align: center;
}