body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.factura-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    padding-left: 200px;
}


.box {
    background-color: #f1f0f0;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
}


.herramientasDiv {
    margin-left: 200px;
}


h1 {
    text-align: center;
    color: #333;
    grid-column: span 2;
}


.input-box {
    margin-top: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #616060;
}




input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
}


input:focus {
    background-color: white;
    color: black;
    outline: none;
}


#boton {
    display: flex;
    justify-content: center;
    grid-column: span 2;
}


button[type="submit"],
button[type="button"] {
    width: 45%;
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type="submit"] {
    background-color: #1F547E;
}


button[type="submit"]:hover {
    background-color: #0b75cc;
}


button[type="button"] {
    background-color: #9e0000;
}


button[type="button"]:hover {
    background-color: #d80101;
}




@media screen and (max-width: 600px) {
    .box {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }


    #boton {
        grid-column: span 1;
    }
}

.herramientasDiv {
    background-color: #f1f0f0;
    width: 80%;
    padding: 20px;
    max-width: 125px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 1125px;
    margin-top: -400px;
}

th{
    border-bottom: 2px solid black;
}

button[type="add-row"] {
    background-color: #1F547E;
    color: white;
}

button[type="add-row"]:hover {
    background-color: #0b75cc;
}

button[type="remove-row"] {
    background-color: #1F547E;
    color: white;
}

button[type="remove-row"]:hover {
    background-color: #0b75cc;
}

.agregar {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}
.agregar2 {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}

.eliminar {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-left: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}
.eliminar2 {
    background-color: #f1f0f0;
    width: 80px;
    padding: 5px;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 10px;
}

.agregart {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.removert {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
}