
:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 256, 12%, 12%;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --text-primary: 0, 0%, 0%;
    /* Colors */
    --black: 0, 0%, 0%;
    --white: 0, 0%, 100%;
    --quite-gray: 0, 0%, 50%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}


body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* Links */
.navbar-item-inner {
    color: hsla(var(--primary), 2);
    font-size: var(--paragraph);
    text-decoration: underline;
}

.navbar-item-inner a:visited {
    color: hsla(var(--primary), .5);
}


/* =======
    Lists
   ======= */

.navbar-container ul,
ol {
    margin: 1em 0 ;

}


/* =========
    Flexbox
   ========= */

.navbar-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Columns */
.navbar-flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar-flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Spacings */
.navbar-flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========
    Classes
   ========= */

.view-width {
    width: 70%;
}

/* ========
    Navbar
   ======== */

.navbar-container {
    top: 0;
    padding: 0;
    width: 5.5em;
    height: 100vh;
    position: fixed;
    background-color: #1f547e;
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 1px 1px rgba(75, 75, 75, 0.253);

}

#navbar:hover {
    width: 14em;
}

#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar {
    width: 5px;
    background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

/* Navbar Logo */
.navbar-logo {
    margin: 0 0 3em 0;
    width: 100%;
    height: 5em;
    padding-left: 5px;
    border-radius: 45px;

}

.navbar-logo>.navbar-item-inner {
    width: calc(5rem - 6px);

}

.navbar-logo>.navbar-item-inner:hover {
    background-color: transparent;

}

.navbar-logo>.navbar-item-inner>svg {
    height: 2em;
    fill: hsl(var(--white));

}

/* Navbar Items */
.navbar-item {
    padding: 0 1em;
    width: 100%;
    cursor: pointer;
}

.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
    
}

.navbar-item-inner-icon-wrapper {
    width: calc(8em - 0.5em - 3px);
    position: relative;
}

.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 5rem);
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

/* ======
    Main
   ====== */

#main {
    margin: 0 0 0 6em;
    min-height: 150vh;
}

#main>h2 {
    width: 80%;
    max-width: 80%;
}

#main>p {
    width: 80%;
    max-width: 80%;
}


/* =============
    ::Selectors
   ============= */

/* Selection */
::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}

/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}

::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}

i {
    color: aliceblue;
}

/* ===============
    5. @keyframes
   =============== */

/* ==============
    @media rules
   ============== */

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}

@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }

    .view-width {
        width: 80%;
    }
}

@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }

    .view-width {
        width: 75%;
    }
}

@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }

    .view-width {
        width: calc(100% - 5em);
    }
}

@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}

@media only screen and (max-width: 496px) {}