<link rel="stylesheet" href="/css/cliente/agregar.css">
<form action="/cliente/agregar" method="post">

   <div id="cliente-agregar-container">

      <div class="box">

            <h2>Agregar Cliente</h2>
            <input type="text" id="nombre_cliente" name="nombre_cliente"  placeholder="Ingresa el nombre" required>
            <br>
<br>
           <input type="text" id="apellido_cliente" name="apellido_cliente"  placeholder="Ingrese el apellido " required>
            <br>
<br>
            <input type="text" id="direccion_cliente" name="direccion_cliente" placeholder="Ingrese la direccion " required>
            <br>
<br>
            <input type="text" id="correo_cliente" name="correo_cliente" placeholder="Ingrese el correo elctronico " required>
            <br>
<br>
            <input type="text" id="celular_cliente" name="celular_cliente" placeholder="Ingrese el celular  " required>
            <br>
<br>
            <input type="text" id="cedula_cliente" name="cedula_cliente" placeholder="Ingrese la cedula " required>
            <br> 

         <div id="boton">
            <button type="submit" id="">Guardar</button>
            <button type="cancelar" id="">Cancelar</button>
         </div>
      </div>
</form>