/*.box {
    box-sizing: border-box;
    font-family: 'bold, Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 100px;
}


.form {
    inset: 2px;
    border-radius: 8px;
    background: #85c3eade;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}


.form h2 {
    color: #000000;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1em;
}


.input-box {
    position: relative;
    width: 380px;
    margin-top: 20px;
}


.input-box input {
    position: relative;
    width: 100%;
    padding: 10px 5px 5px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 0.05em;
}


.input-box span {
    position: relative;
    left: 0;
    padding: 10px 5px 10px;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}


.inputBox input:valid~span,
.inputBox input:focus~span {
    color: rgb(0, 0, 0);
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}


.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}


.input-box input:valid~i,
.input-box input:focus~i {
    height: 44px;
    background: transparent;
}


.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #ffffff;
    text-decoration: none;
}


.links a:hover,
.links a:nth-child(2) {
    color: #ffffffec;
}

img {
    position: absolute;
    top: 0;
    width: 13%;
    margin-bottom: 5px;
     }

button[type="submit"] {
    border: none;
    outline: none;
    background: #1F547E;
    padding: 11px 25px;
    width: 200px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
}


button[type="submit"]:active {
    opacity: 0.4;
}*/

body {
    font-family: Corben;
    background-color: #E1E1E1;
    margin: 0;
}

.centered-image {
    display: block;
    margin: 10px auto;
    width: 15%;
    height: 15%;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 8px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #8a8a8a4b;
}

h1 {
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
}

a {
    color: #1F547E;
    text-decoration: none;
    font-size: 20px;
}

p {
    margin: 20px;
    text-align: center;
    line-height: normal;
}

form {
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    flex-basis: calc(48% - 10px); /* Ocupar el 48% d */
    margin-bottom: 20px;
}

label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1F547E;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1F547E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.363);
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .input-group {
        flex-basis: 100%; /* Ocupar el 100% del ancho en pantallas más pequeñas */
    }
}
