/*.body {
    background-color: #918f8f;
}

.box {
    box-sizing: border-box;
    font-family: 'bold, Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding-left: 100px;
}

.form {
    inset: 2%;
    border-radius: 4%;
    background: #ffffff;
    padding: 2% 9%;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.form h1 {
    color: #494F70;
    font-size: 300%;
    font-family: corber;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1em;
}

.box-nombre-apellido {
    position: relative;
    width: 250px;
    margin-top: 20px;
}

.box-celular-cedula {
    position: relative;
    width: 250px;
    margin-top: 20px;
}

.box-correo-contraseña {
    position: relative;
    width: 250px;
    margin-top: 20px;
}

#input-box {
    display: flex;
    flex-direction: row;
}

label {
    color: #2874A6;
    font-size: 20px;
}

#iniciar-sesion-link {
    color: cornflowerblue;
    font-size: 20px;
}

#separacion {
    padding-left: 10px;
}

button[type="submit"] {
    border: none;
    outline: none;
    background: #1F547E;
    padding: 11px 25px;
    width: 200px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

button[type="submit"]:active {
    margin: 0 auto;
    opacity: 0.4;
}

input {
    height: 30px;
    border-radius: 10px;
    border: solid #EAE7EE;
}

img {
    position: absolute;
    top: 0;
    width: 15%;
    margin-bottom: 5px;

}

#pregunta-cuenta {
    color: #494F70;
}

#iniciar-sesion {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
*/

body {
    font-family: Corben;
    background-color: #E1E1E1;
    margin: 0;
}

.centered-image {
    display: block;
    margin: 10px auto;
    width: 15%;
    height: 15%;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 8px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #8a8a8a4b;
}

h1 {
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
}

a {
    color: #1F547E;
    text-decoration: none;
    font-size: 20px;
}

p {
    margin: 20px;
    text-align: center;
    line-height: normal;
}

form {
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    flex-basis: calc(48% - 10px); /* Ocupar el 48% d */
    margin-bottom: 20px;
}

label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1F547E;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1F547E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.363);
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .input-group {
        flex-basis: 100%; /* Ocupar el 100% del ancho en pantallas más pequeñas */
    }
}
