<link rel="stylesheet" href="/css/pagos/debito.css">
<form action="/debito" method="post">

   <div id="debito-container">

      <div class="box">

            <h2>Tarjeta de Débito</h2>
            
            <img src="/img/Visa.png" alt="MDN"/>
            <img src="/img/MasterCard.png" alt="MDN"/>
            <img src="/img/Discover.png" alt="MDN"/>
            <img src="/img/American.png" alt="MDN"/>

            <input type="text" id="numero_tarjeta" name="numero_tarjeta"  placeholder="Ingresa numero de la tarjeta" required>
            <br>
<br>
           <input type="text" id="fecha_expiracion" name="fecha_expiracion"  placeholder="Ingrese la fecha de expiración" required>
            <br>
<br>
            <input type="text" id="cvv_tarjeta" name="cvv_tarjeta" placeholder="CVV" required>
            <br>
<br>
            <input type="text" id="nombre_titular" name="nombre_titular" placeholder="Ingrese el nombre del titular" required>
            <br>
<br>
            <input type="text" id="documento_titular" name="documento_titular" placeholder="Ingrese el documento" required>
            <br>
<br>
            <input type="text" id="numero_documento" name="numero_documento" placeholder="Ingrese el numero de documento" required>
            <br> 

         <div id="boton">
            <button type="submit" id="">Guardar</button>
         </div>
      </div>
</form>