<link rel="stylesheet" href="/css/cliente/listar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="/script/cliente/buscador.js"></script>


<div id="cliente-listar-container">
    
    <div id="cliente-listar-contenedor">

        <p id="titulo-gestion" class="titulo-gestion" style="padding-top: 20px;  margin: 0 auto; text-align:center; font-size: 25px;" ></p>

        <h3>Forma de pago</h3>
        <button id="button-agregar" class="button-agregar">
            <a href="/forma_pago/agregar/" style="color:white; text-decoration: none; ">
                Agregar</a>
        </button>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                <tr>
                    <td>{{nombre_forma_pago}}</td>
                    <td>{{estado}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        </div>
        <div>

        </div>
    </div>
</div>


