<link rel="stylesheet" href="/css/principal/principal.css">

<body>

<div class="hero">
  <div class="hero__bg">
    <picture>
        <img src="/img/logo.png" alt="MDN"/>
    </picture>
  </div>

  <div class="hero__cnt">

    <div class="texto_1">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, exercitationem debitis earum cum eaque ut distinctio quae odit nobis illum similique quidem fuga dolore dolor quo deserunt culpa pariatur quia.</h4>
    </div>
    <button class="custom-button">
        <a  href="/agregar">Agregar Tienda</a>
    </button>
  </div>
</div>
</body>
