<link rel="stylesheet" href="/css/principal/principal.css">

<body>

<div class="hero">
  <div class="hero__bg">
    <picture>
        <img src="/img/logo.png" alt="MDN"/>
    </picture>
  </div>


     <div class="hero__cnt">
        <div class="box">
            <div class="texto_2">
                <h2>¡Bienvenido a Fintech!</h2>
            </div>
        </div>

        <div class="texto_1">
            <center><h4>¡Nos alegra que estés aquí!
                <br> Fintech cuenta con una enorme comunidad y todo lo que necesitas para administrar tu negocio.</h4></center>
        </div>
        <button class="custom-button">
            <a href="/agregar">Agregar Tienda</a>
        </button>
    </div>
</div>
</body>
