<!-- Navbar -->
<link rel="stylesheet" href="/css/partials/navegacion.css">

<nav id="navbar" class="navbar-container">
    <ul class="navbar-items navbar-flexbox-col">
        <li class="navbar-logo navbar-flexbox-left" style="width: calc(5rem - 6px);">
            <a class="navbar-item-inner navbar-flexbox">
                <img src="/img/logo.png" style="width: 100px ; ">
            </a>
        </li> <br><br>
        <li class="navbar-item flexbox-left">
            <a href="/factura/historial" class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-folder-open" ></i>
                </div>
                <span class="link-text" style="color: white; ">Historial de <br> Facturación</span>
            </a>
        </li> <br>
        <li class="navbar-item navbar-flexbox-left">
            <a  href="/cliente/listar/"class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-user-plus"></i>
                </div>
                <span class="link-text" style="color: white;">Gestionar <br>Clientes</span>
            </a>
        </li> <br>
        <li class="navbar-item navbar-flexbox-left">
            <a href="/tienda/listar/" class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-archway"></i>
                </div>
                <span class="link-text" style="color: white;">Información <br>de Tienda</span>
            </a>
        </li>
 <br>
        <li class="navbar-item flexbox-left">
            <a  href="/login" class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
<i class="fas fa-sign-out-alt"></i>
                </div>
                <span class="link-text" style="color: white;">Cerrar <br>Session</span>
            </a>
        </li>
    </ul>
</nav>