<!-- Navbar -->
<link rel="stylesheet" href="/css/partials/navegacion.css">

<nav id="navbar" class="navbar-container">
    <ul class="navbar-items navbar-flexbox-col">
        <li class="navbar-logo navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox">
                <img src="/img/logo.png"
                    style="width: 110px ; align-items: center; padding-left: 10px;">
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-search"></i>
                </div>
                <span class="link-text" style="color: white;">Inicio</span>
            </a>
        </li>
        <li class="navbar-item navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-home"></i>
                </div>
                <span class="link-text" style="color: white;">Gestion de Clientes</span>
            </a>
        </li>
        <li class="navbar-item navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-folder-open"></i>
                </div>
                <span class="link-text" style="color: white;">Generar Factura</span>
            </a>
        </li>
        <li class="navbar-item navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <span class="link-text" style="color: white;">Historial Factura</span>
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <span class="link-text" style="color: white;">Cerrar Sesion</span>
            </a>
        </li>
    </ul>
</nav>