<!-- Navbar -->
<link rel="stylesheet" href="/css/partials/navegacion.css">

<nav id="navbar" class="navbar-container">
    <ul class="navbar-items navbar-flexbox-col">
        <li class="navbar-logo navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox">
                <img src="/img/logo.png"
                    style="width: 110px ; align-items: center; padding-left: 10px;">
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-folder-open"></i>
                </div>
                <span class="link-text" style="color: white;">Historial de Facturación</span>
            </a>
        </li>
        <li class="navbar-item navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-user-plus"></i>
                </div>
                <span class="link-text" style="color: white;">Gestionar Clientes</span>
            </a>
        </li>
        <li class="navbar-item navbar-flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
                    <i class="fas fa-archway"></i>
                </div>
                <span class="link-text" style="color: white;">Información de Tienda</span>
            </a>
        </li>

        <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner navbar-flexbox-left">
                <div class="navbar-item-inner-icon-wrapper navbar-flexbox">
<i class="fas fa-sign-out-alt"></i>
                </div>
                <span class="link-text" style="color: white;">Cerrar Session</span>
            </a>
        </li>
    </ul>
</nav>