<link rel="stylesheet" href="/css/factura/agregar.css">

<script src="/script/factura/calculos.js" defer></script>
<script defer src="/script/factura/filas.js"></script>

<div id="factura-container">
    <form action="/factura/agregar" method="post">
        <div id="factura-agregar-container">


            <div class="box">
                <center>
                    <h1>Agregar Factura</h1>
                </center>
                <div class="input-box">
                    <label for="fecha_emision">Fecha emisión:</label>
                    <input type="text" id="fecha-creacion" name="fecha_emision" value="{{ fechaActual }}">
                </div>


                <div>
                    <table id="detalle_factura">
                        <thead>
                            <tr>

                                <th>
                                    <label>CANT.</label>
                                </th>
                                <th>
                                    <label>DESCRIPCION</label>
                                </th>
                                <th>
                                    <label>P.UNITARIO</label>
                                </th>
                                <th>
                                    <label>V.TOTAL</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fila_cada_producto" id="fila_cada_producto">
                                <td><input name="cantidad" type="number" oninput="calcularPrecioTotal()"></td>
                                <td><input name="descripcion" type="text"></td>
                                <td><input name="precio_unitario" type="text" oninput="calcularPrecioTotal()"></td>
                                <td><input name="precio_total" type="text" readonly></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                {{#each list}}
                <p> Nº <input type="text" name="numero" id="numero" value="{{maximo}}"> </p>
                {{/each}}
                <div class="calculos">

                    <div class="cuadrosubtotal">
                        <div class="subtotal_texto"><label for="valor_subtotal">Valor subtotal:</label></div>
                        <div class="subtotal"><input type="text" name="valor_subtotal" id="sub_total"
                                placeholder="Ingrese"></div>
                    </div>
                    <div class="cuadroimpues_0">
                        <div class="subtotal_texto"><label for="impuesto_0">Impuesto 0:</label></div>
                        <div class="subtotal"><input type="text" name="impuesto_0" placeholder="Ingrese"></div>
                    </div>
                    <div class="cuadroimpues_12">
                        <div class="subtotal_texto"><label for="impuesto_12">Impuesto 12:</label></div>
                        <div class="subtotal"> <input type="text" name="impuesto_12" placeholder="Ingrese"></div>
                    </div>
                    <div class="cuadro_dsct">
                        <div class="subtotal_texto"><label for="descuento">Descuento:</label></div>
                        <div class="subtotal"><input type="text" name="descuento" placeholder="Ingrese"
                                oninput="calcularDescuento()"></div>
                    </div>
                    <div class="cuadro_iva">
                        <div class="subtotal_texto"><label for="valor_iva">Valor iva:</label></div>
                        <div class="subtotal"><input type="text" name="valor_iva" placeholder="Ingrese"></div>
                    </div>
                    <div class="cuadro_valor_total">
                        <div class="subtotal_texto"><label for="valor_total">Valor total:</label></div>
                        <div class="subtotal"><input type="text" name="valor_total" placeholder="Ingrese"></div>
                    </div>
                </div>

                <div id="boton">
                    <button type="submit" id="">Guardar</button>
                    <br>
                    <button type="button" id="">Cancelar</button>
                </div>
            </div>
        </div>
    </form>


    <div id="herramientasDiv" class="herramientasDiv">
        <div>
            <h3>Herramientas</h3>
            <hr>
            <div class="cuadroa">
                <div class="agr_fila">Agregar Fila</div>
                <div class="agr_fila"><button class="agregart" id="add-row" type="add-row"
                        onclick="agregarFila()">+</button></div>
            </div>
            <div class="cuadroe">
                <div class="elim_fila">Eliminar Fila</div>
                <div class="elim_fila"><button class="removert" id="remove-row" type="remove-row">-</button></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/detalle_total.js"></script>