<!--

<form action="/factura/agregar" method="post">

<div id="factura-agregar-container">

 <div class="box">
<center><h1>Agregar Factura</h1></center>

<div>
    <label for="fecha_emision">Fecha emision:</label>
    <input type="text" name="fecha_emision"  placeholder="Ingrese " required>
</div>

<div>
    <label for="descripcion">Descripcion:</label>
    <input type="text" name="descripcion"  placeholder="Ingrese " required>
</div>

<div>
    <label for="cantidad">Cantidad:</label>
    <input type="text" name="cantidad" placeholder="Ingrese "  required>
</div>

<div>
    <label for="precio_unitario">Precio unitario:</label>
    <input type="text" name="precio_unitario" placeholder="Ingrese "  required>
</div>

<div>
    <label for="precio_total">Precio total:</label>
    <input type="text" name="precio_total" placeholder="Ingrese "  required>
</div>   

<div>
    <label for="impuesto_12">Impuesto 12:</label>
    <input type="text" name="impuesto_12" placeholder="Ingrese "  required>
</div>

<div>
<label for="impuesto_0">Impuesto 0l:</label>
    <input type="text" name="impuesto_0"  placeholder="Ingrese " required>
</div>

<div>
<label for="descuento">Descuento:</label>
    <input type="text" name="descuento"  placeholder="Ingrese " required>
</div>

<div>
<label for="valor_subtotal">Valor subtotal:</label>
    <input type="text" name="valor_subtotal"  placeholder="Ingrese " required>
</div>

<div>
<label for="valor_iva">Valor iva:</label>
    <input type="text" name="valor_iva"  placeholder="Ingrese " required>
</div>

<div>
<label for="valor_total">Valor total:</label>
    <input type="text" name="valor_total" placeholder="Ingrese "  required>
</div>

<div id="boton">
      <button type="submit" id="">Guardar</button>
      <button type="cancelar" id="">Cancelar</button>
      
</form>  -->


<link rel="stylesheet" href="/css/factura/agregar.css">
<form action="/factura/agregar" method="post">
    <div id="factura-agregar-container">
        <div class="box">
            <center><h1>Agregar Factura</h1></center>

            <div class="input-box">
                <label for="fecha_emision">Fecha emisión:</label>
                <input type="text" name="fecha_emision" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="descripcion">Descripción:</label>
                <input type="text" name="descripcion" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="cantidad">Cantidad:</label>
                <input type="text" name="cantidad" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="precio_unitario">Precio unitario:</label>
                <input type="text" name="precio_unitario" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="precio_total">Precio total:</label>
                <input type="text" name="precio_total" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="impuesto_12">Impuesto 12:</label>
                <input type="text" name="impuesto_12" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="impuesto_0">Impuesto 0:</label>
                <input type="text" name="impuesto_0" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="descuento">Descuento:</label>
                <input type="text" name="descuento" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="valor_subtotal">Valor subtotal:</label>
                <input type="text" name="valor_subtotal" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="valor_iva">Valor iva:</label>
                <input type="text" name="valor_iva" placeholder="Ingrese" required>
            </div>

            <div class="input-box">
                <label for="valor_total">Valor total:</label>
                <input type="text" name="valor_total" placeholder="Ingrese" required>
            </div>

            <div id="boton">
                <button type="submit" id="">Guardar</button>
                <br>
                <button type="button" id="">Cancelar</button>
            </div>
        </div>
    </div>
</form>

