<link rel="stylesheet" href="/css/factura/agregar.css">




<script src="/script/factura/calculos.js" defer></script>


<div id="factura-container">
    <form action="/factura/agregar" method="post">
        <div id="factura-agregar-container">


            <div class="box">
                <center>
                    <h1>Agregar Factura</h1>
                </center>
                <div class="input-box">
                    <label for="fecha_emision">Fecha emisión:</label>
                    <input type="text" id="fecha-creacion" name="fecha_emision" value="{{ fechaActual }}">
                </div>


                <div>
                    <table id="detalle_factura">
                        <thead>
                            <tr>


                                <th>
                                    <label>CANT.</label>
                                </th>
                                <th>
                                    <label>DESCRIPCION</label>
                                </th>
                                <th>
                                    <label>P.UNITARIO</label>
                                </th>
                                <th>
                                    <label>V.TOTAL</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input name="cantidad" type="number" oninput="calcularPrecioTotal()"></td>
                                <td><input name="descripcion" type="text"></td>
                                <td><input name="precio_unitario" type="text" oninput="calcularPrecioTotal()"></td>
                                <td><input name="precio_total" type="text" readonly></td>
                            </tr>
                            <tr>
                                <td><input name="cantidad" type="number" oninput="calcularPrecioTotal()"></td>
                                <td><input name="descripcion" type="text"></td>
                                <td><input name="precio_unitario" type="text" oninput="calcularPrecioTotal()"></td>
                                <td><input name="precio_total" type="text" readonly></td>
                            </tr>
                        </tbody>

                    </table>
                </div>





                <div class="input-box">
                    <label for="impuesto_12">Impuesto 12:</label>
                    <input type="text" name="impuesto_12" placeholder="Ingrese">
                </div>


                <div class="input-box">
                    <label for="impuesto_0">Impuesto 0:</label>
                    <input type="text" name="impuesto_0" placeholder="Ingrese">
                </div>


                <div class="input-box">
                    <label for="descuento">Descuento:</label>
                    <input type="text" name="descuento" placeholder="Ingrese" oninput="calcularDescuento()">
                </div>


                <div class="input-box">
                    <label for="valor_subtotal">Valor subtotal:</label>
                    <input type="text" name="valor_subtotal" id="sub_total" placeholder="Ingrese">
                </div>


                <div class="input-box">
                    <label for="valor_iva">Valor iva:</label>
                    <input type="text" name="valor_iva" placeholder="Ingrese">
                </div>


                <div class="input-box">
                    <label for="valor_total">Valor total:</label>
                    <input type="text" name="valor_total" placeholder="Ingrese">
                </div>


                <div id="boton">
                    <button type="submit" id="">Guardar</button>
                    <br>
                    <button type="button" id="">Cancelar</button>
                </div>
            </div>
        </div>
    </form>


    <div id="herramientasDiv" class="herramientasDiv">
        <table id="herramientas">
            <tr>
                <th colspan="2">Herramientas</th>
            </tr>
            <tr>
                <td>Agregar Fila</td>
                <td><button id="add-row">+</button></td>
            </tr>
            <tr>
                <td>Eliminar Fila</td>
                <td><button id="remove-row">-</button></td>
            </tr>
        </table>
    </div>
</div>