<link rel="stylesheet" href="/css/factura/agregar.css">
<h1>Agregar Factura</h1>

<form action="/factura/agregar" method="post">
<div>
    <label for="nombres">fecha emision:</label>
    <input type="text" name="fecha_emision" required>
</div>

<div>
    <label for="apellidos">Descripcion:</label>
    <input type="text" name="descripcion" required>
</div>

<div>
    <label for="cantidad">Cantidad:</label>
    <input type="text" name="cantidad" required>
</div>

<div>
    <label for="telefono">precio unitario:</label>
    <input type="text" name="precio_unitario" required>
</div>

<div>
    <label for="telefono">precio total:</label>
    <input type="text" name="precio_total" required>
</div>   

<div>
    <label for="telefono">precio total:</label>
    <input type="text" name="impuesto_12" required>
</div>

<div>
<label for="telefono">precio total:</label>
    <input type="text" name="impuesto_0" required>
</div>

<div>
<label for="telefono">precio total:</label>
    <input type="text" name="descuento" required>
</div>

<div>
<label for="telefono">precio total:</label>
    <input type="text" name="valor_subtotal" required>
</div>

<div>
<label for="telefono">precio total:</label>
    <input type="text" name="valor_iva" required>
</div>

<div>
<label for="telefono">precio total:</label>
    <input type="text" name="valor_total" required>
</div>

<div id="boton">
      <button type="submit" id="">Guardar</button>
      <button type="cancelar" id="">Cancelar</button>
      </div>
      
</form>