<link rel="stylesheet" href="/css/factura/historial.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<h1>Historia de facturas</h1>
<div class="contenedor">
    <button class="boton" type="PDF">PDF</button>
</div>
<div class="buscador">
    <label for="buscar">Buscar:</label>
    <input type="text" id="buscar" placeholder="Buscador">

</div>
<table>
    <thead>
        <tr>
            <th>
                <p>Fecha</p>
            </th>
            <th>
                <p>Descripcion</p>
            </th>
            <th>
                <p>Forma de pago</p>
            </th>
            <th colspan="2">
                <p>Total</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each mostrar}}
        <tr>
            <td>
                <p>20-02-2024</p>
            </td>
            <td>
                <p>Destornillador</p>
            </td>
            <td>
                <p>Contado</p>
            </td>
            <td>
                <p>{{valor_total}}</p>
                   
            </td>
            <td>
                <div>
                    <a href="">
                        <button type="visualizar">
                            <i class="fas fa-eye"></i>
                        </button>
                    </a>
                </div>
            </td>
        </tr>

        {{/each}}

        <tr>
            <td>
                <p>01-02-2024</p>
            </td>
            <td>
                <p>Taladro</p>
            </td>
            <td>
                <p>Credito</p>
            </td>
            <td>
                <p>$35</p>
            </td>
            <td>
                <div>
                    <a href="">
                        <button type="visualizar">
                            <i class="fas fa-eye"></i>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>04-02-2024</p>
            </td>
            <td>
                <p>Pala</p>
            </td>
            <td>
                <p>Credito</p>
            </td>
            <td>
                <p>$20</p>
            </td>
            <td>
                <div>
                    <a href="">
                        <button type="visualizar">
                            <i class="fas fa-eye"></i>
                        </button>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="siguiente">
    <button class="siguiente" type="siguiente">Siguiente</button>
</div>
<div class="anterior">
    <button class="anterior" type="anterior">Anterior</button>
</div>