#tienda-listar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px; /* Adjust the width as needed */
    margin: auto; /* Center the container */
}

.conjunto1,
.conjunto2 {
    background-color: #fff;
    padding: 15px;
    margin: 10px auto; /* Center the div */
    width: 300px; /* Adjust width as needed */
    box-sizing: border-box;
}

.conjunto2 {
    border: 2px solid #3498db; /* Border color */
}

#btn,
button[type="submit"] {
    background-color: #3498db; /* Button color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}