body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#tienda-listar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; /* Cambiado a un porcentaje para ser más flexible */
    max-width: 800px; /* Agregado un máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
    margin: auto;
    align-items: center;
}



.conjunto1 {
    background-color: #fff;
    padding: 10px;
    margin: 40px auto;
    width: 60%; 
    max-width: 500px; 
    box-sizing: border-box;
    border-radius: 30px;
}

.conjunto2 {
    margin: 40px;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.445);
    text-align: center;
}

.titulos{
    background-color: #1F547E;
    color: white;
    text-align: center;
    border-radius: 20px;
}


#btn,
button[type="submit"] {
    background-color: #ff3535;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
}

#btn,
button[type="submit"]:hover {
    background-color: #d40101;
    color: #fff;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.544);
}

/* Regla de medios para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
    #tienda-listar-container {
        width: 90%; /* Cambiado a un porcentaje menor para pantallas más pequeñas */
    }

    .conjunto1 {
        width: 90%; 
        max-width: none; 
    }

    img {
        max-width: 100%; 
    }
}
