<link rel="stylesheet" href="/css/auth/login.css">


<body>
    <br>
    <img src="/img/logo.png"  class="centered-image">
<br>
    <div class="container">
        <h1>Iniciar Sesion</h1>
        <form action="/login" method="POST" id="form">
            <div class="form-group">
                <label>Correo Electronico:</label>
                <input type="email" name="correo_electronico_usuario" placeholder="ejemplo@gmail.com" required />
            </div>
            <br>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" name="password_usuario" placeholder="Contraseña:" required />
            </div>
            <br>
            <button type="submit">Ingresar</button>
            
            <p>
            ¿Ya tienes una cuenta? <a href="/registro">Registrate</a>
            </p>
        </form>
    </div>
</body>