<link rel="stylesheet" href="/css/auth/login.css">
<!--<title>Inicio de Sesion</title>
<body>
    <section id="container">
        <div class="box">
            <div class="form">
        <h2>Iniciar Sesion</h2>
        <center><a href="/"><img src="/img/logo.png" alt=""></a></center>
        <form action="/login" method="POST" id="form">
            <div class="input-box">
                <label>Tu Email:</label>
                <input type="email" name="correo_electronico_usuario" placeholder="ejemplo@gmail.com" required />
            </div>
            <div class="input-box">
                <label>Contraseña:</label>
                <input type="password" name="password_usuario" placeholder="Contraseña:" required />
            </div>
            <center><button type="submit">Ingresar</button></center>
            <br>
             <div class="links">
            <center>¿No tienes una cuenta? <a href="/registro">Registrate</a></center>
            </div>
            </div>
            </div>
        </form>
    </section>
</body>-->

<body>
    <img src="/img/logo.png"  class="centered-image">
    <div class="container">
        <h1>Iniciar Sesion</h1>
        <form action="/login" method="POST" id="form">
            <div class="form-group">
                <label>Correo Electronico:</label>
                <input type="email" name="correo_electronico_usuario" placeholder="ejemplo@gmail.com" required />
            </div>
            <br>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" name="password_usuario" placeholder="Contraseña:" required />
            </div>
            <br>
            <button type="submit">Ingresar</button>
            
            <p>
            ¿Ya tienes una cuenta? <a href="/registro">Registrate</a>
            </p>
        </form>
    </div>
</body>