<link rel="stylesheet" href="/css/login.css">
<title>Inicio de Sesion</title>
<body>
    <section id="container">
        <header>Iniciar Sesion</header>
      
        
        <form action="/signin" method="POST" id="form">
            <div id="input-box">
                <label>Correo Electrónico:</label>
                <input type="email" name="correo_electronico_Dueño" placeholder="ejemplo@gmail.com" required />
            </div>
            <div id="input-box">
                <label>Contraseña:</label>
                <input type="password" name="password_Dueño" placeholder="Contraseña:" required />
            </div>
            <button type="submit">Ingresar</button>
            <br>
            <center>¿No tienes una cuenta? <a href="/signup">Registrate</a></center>
        </form>
    </section>
</body>